* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f5fb;
}

.tituloprincipal {
    display: flex;
    justify-content: center;
    text-decoration: none;


}

.link {
    color: black;
    text-decoration: none;
}

.nav {
    background-color: #e9ebf8;

}

.botton {
    margin-left: 20px;
}

.h1 {
    text-align: left;
    font-family: Arial Black;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    text-shadow: 0 1px 0 #ddd,
        0 2px 0 #ccc,
        0 3px 0 #bbb,
        0 4px 0 #aaa,
        0 5px 0 #acacac,
        0 6px 1px rgba(0, 0, 0, 0.1),
        0 0 5px rgba(0, 0, 0, 0.1),
        0 1px 3px rgba(0, 0, 0, 0.3),
        0 3px 5px rgba(0, 0, 0, 0.2),
        0 5px 10px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.2),
        0 20px 20px rgba(0, 0, 0, 0.15);
}

.h2 {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    text-align: left;
    font-family: Arial Black;
    font-weight: bold;
    font-size: 30px;
    color: rgb(21, 19, 19);
    text-shadow: 0 1px 0 rgb(11, 79, 57),
        0 2px 0 #ccc,
        0 3px 0 #bbb,
        0 4px 0 #aaa,
        0 5px 0 #acacac,
        0 6px 1px rgba(0, 0, 0, 0.1),
        0 0 5px rgba(0, 0, 0, 0.1),
        0 1px 3px rgba(0, 0, 0, 0.3),
        0 3px 5px rgba(0, 0, 0, 0.2),
        0 5px 10px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.2),
        0 20px 20px rgba(0, 0, 0, 0.15);
}

.img {

    width: 500px;

}

.carro {
    padding-top: 70px;
    display: flex;
    justify-content: center;
}
.error{
    color: black;
    text-align: center;
    background-color: rgb(154, 48, 48);
    text-transform: uppercase;
}
.campo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
}